

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing:border-box;
}
.max-width{
    width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar{
    position: fixed;
    width: 100%;
    padding: 10px 0;
    background-color:crimson;  
    font-family:'ubuntu' sans-serif;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
   font-size: 30px; 
   font-weight: 600;
} 
.navbar .menu li
{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: aliceblue;
    font-weight: 500;
    font-size:18px;
    margin-left: 15px;
}

/* <!--home ection start--> */
.column{
   ma 
}
.home
{
    display: flex;
    background-image:url("image\home.jpg");
    height: 100px;
    color: rgb(27, 20, 20);
    font-family:'ubuntu' sans-serif;
    min-height: 500px;
}
.home .max-width{
    width: 1300px;
    padding: 0 80px;
    margin: auto 0 auto 4px;
}
.home .home-content .text-1{
    font-size: 25px;
}
.home .home-content .text-2{
    font-size: 65px;
    font-weight: 500;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 35px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}
